.password_strength {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
}

.password_strength_1 {
    background-color: #e0e0e0;
    width: 70px;
}

.password_strength_2 {
    background-color: #f5ac00;
    color: #ffffff;
    width: 90px;
}

.password_strength_3 {
    background-color: #6699cc;
    color: #ffffff;
    width: 110px;
}

.password_strength_4 {
    background-color: #008000;
    color: #ffffff;
    width: 110px;
}

.password_strength_5 {
    background-color: #008000;
    color: #ffffff;
    width: 130px;
}
